.*~
*~
.*.swp
*.pyc
*.pyo
*.retry
docs/build
workspace

!__exekutir__(/.*)?/inventory/hosts

jobs/.*/.*
!jobs/.*/.empty

__executir__/host_vars
__executir__/group_vars

__exekutir__/host_vars/kommandir.yml
__exekutir__/host_vars/localhost.yml
